[
    {"name":"Filips","git":"filipsalpe","forum":"Filips Alpe"},
    {"name":"Nicolas Dupont","git":"nidup","forum":"Nicolas Dupont"},
    {"name":"Benoit Jacquemont","git":"BitOne","forum":"Benoit Jacquemont"},
    {"name":"Julien Janvier","git":"jjanvier","forum":"Julien Janvier"},
    {"name":"Willy","git":"willy-ahva","forum":"Willy"},
    {"name":"Julien Sanchez","git":"sumbobyboys","forum":"sumbobyboys"},
    {"name":"Gildas Quéméner","git":"gquemener","forum":"Gildas Quéméner"},
    {"name":"Olivier","git":"solivier","forum":"olivier"},
    {"name":"Stephan","git":"","forum":"Stephan"},
    {"name":"Romain","git":"fitn","forum":"fitn"},
    {"name":"rybus","git":"rybus","forum":"rybus"},
    {"name":"Nuscly","git":"Nuscly","forum":"Nuscly"},
    {"name":"Damien Carcel","git":"damien-carcel","forum":"Damien Carcel"},
    {"name":"Frédéric de Gombert","git":"","forum":"Frédéric de Gombert"},
    {"name":"Adrien Pétremann","git":"grena","forum":"Adrien Pétremann"},
    {"name":"Charles","git":"CharlyP","forum":"Charles"},
    {"name":"Emilie Gieler","git":"","forum":"Emilie Gieler"},
    {"name":"Jean Marie","git":"jmleroux","forum":""},
    {"name":"Antoine","git":"antoineguigan","forum":""},
    {"name":"Nono","git":"nono-akeneo","forum":""},
    {"name":"skeleton","git":"skeleton","forum":""}
]
