<div ng-controller="AppController as app" ng-init="app.loadConfig()">
    <div class="container-fluid">
        <div class="row">
            <div class="btn-group" role="group">
                <a href="/#/" class="btn btn-default">Home</a>
                <a href="/#/community" class="btn btn-default">Community</a>
                <a href="/#/tests" class="btn btn-default" ng-show="app.config.showTests">Tests</a>
                <a href="/#/users" class="btn btn-default">Users</a>
                <div ng-view></div>
    </div>
</div>
