<div ng-controller="AppController as app" ng-init="app.loadConfig()">
    <a href="/#/sign-in" style="float: right" ng-if="!app.config.signedIn">Sign in</a>
    <a ng-click="loginCtrl.signOut(); app.loadConfig()" ng-controller="LoginController as loginCtrl" style="float: right" ng-if="app.config.signedIn">Sign out</a>
    <div class="container-fluid">
        <div class="row">
            <div role="tabpanel">
                <ul class="nav nav-tabs nav-stacked col-lg-2 col-md-2 col-sm-2 col-xs-2" role="tablist" ng-init="app.loadSummary()">
                    <li ng-if="app.config.showTests && app.config.signedIn && !app.loading">
                        <a href="#tests">Tests<span
                            class="label label-default pull-right"
                            ng-class="{ 'label-danger': app.summary.tests }"
                            ng-bind="app.summary.tests">
                            </span>
                        </a>
                    </li>
                    <li ng-if="!app.loading">
                        <a href="#topics">Topics<span
                            class="label label-default pull-right"
                            ng-bind="app.summary.topics">
                            </span>
                        </a>
                    </li>
                    <li ng-if="!app.loading">
                        <a href="#issues">Issues<span
                            class="label label-default pull-right"
                            ng-bind="app.summary.issues">
                            </span>
                        </a>
                    </li>

                    <li ng-if="app.config.showTests && app.config.signedIn && app.loading">
                        <a href="#">Tests<span
                            class="label label-default pull-right"
                            ng-class="{ 'label-danger': app.summary.tests }"
                            ng-bind="app.summary.tests">
                            </span>
                        </a>
                    </li>
                    <li ng-if="app.loading">
                        <a href="#">Topics<span
                            class="label label-default pull-right"
                            ng-bind="app.summary.topics">
                            </span>
                        </a>
                    </li>
                    <li ng-if="app.loading">
                        <a href="#">Issues<span
                            class="label label-default pull-right"
                            ng-bind="app.summary.issues">
                            </span>
                        </a>
                    </li>

                    <li ng-if="app.config.signedIn">
                        <a href="#users">Users</a>
                    </li>
                    <li ng-if="app.config.signedIn">
                        <a href="/"ng-click="app.fullRefresh()">Refresh
                            <img ng-if="app.loading" src="/img/ajax-loader.gif" alt="Loading">
                        </a>
                    </li>
                </ul>
            </div>
            <div ng-view></div>
        </div>
    </div>
</div>
