<html ng-app="app">
    <head>
        <title>{{title}}</title>
        <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" href="/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/jquery/dist/jquery.js"></script>
        <script src="/jquery-ui/jquery-ui.js"></script>
        <script src="/angular/angular.js"></script>
        <script src="/angular-route/angular-route.min.js"></script>
        <script src="/underscore/underscore-min.js"></script>
        <script src="/js/app.js"></script>
        <script type="text/javascript" src="/angular-ui-sortable/sortable.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">

    </head>

    <body>
        {{{body}}}
    </body>
    <footer>
</footer>
</html>
