.truncate {
  width: 430px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.log-window {
    top: 10px;
}

.line {
    height: 2px;
    background-color: #ddd;
    height: 2px
}
