<div class="container-fluid" ng-controller="TestController as testCtrl">

    <div class="btn-group" role="group">
        <a href="/#/" class="btn btn-default">Home</a>
        <a href="/#/community" class="btn btn-default">Community</a>
    </div>

    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" ng-class="{ active: testCtrl.showGreen }">
            <input type="checkbox" autocomplete="off" ng-model="testCtrl.showGreen"> Show green
        </label>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6">
            <section ng-init="testCtrl.loadTests()">
                <div class="list-group">
                    <div class="log-window" style="width: 450px">
                        <div class="panel panel-default log-window" style="width: 450px" ng-repeat="testData in testCtrl.tests">
                            <a ng-click="testCtrl.toggleActive(testData.view)" class="list-group-item">{{ testData.view.name }}
                                <span class="label label-default pull-right" ng-class="{ 'label-danger': testCtrl.redCount(testData.tests)}">{{ testCtrl.redCount(testData.tests) }}</span>
                            </a>
                            <section ng-show="testData.view == testCtrl.activeTab">
                                <div class="panel-body">
                                    <div ng-repeat="test in testData.tests">
                                        <div ng-show="testCtrl.isVisible(test)">
                                            <a href="{{ test.url }}" target="_blank" class="truncate">{{ test.name }}</a>
                                            <p>{{ test.color }}</p>
                                            <div ng-if="testCtrl.showButton(test)">
                                                <a class="btn btn-default" ng-click="testCtrl.getInfo(test)" ng-hide="test.info.healthReport.length">Get info</a>
                                                <p>{{ test.info.healthReport[1].description }}</p>
                                                <p ng-show="test.info.healthReport.length">
                                                    Last
                                                    {{ test.info.lastCompletedBuild.number - test.info.lastSuccessfulBuild.number}}
                                                    builds failed.
                                                </p>
                                            </div>
                                            <div class="line"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div ng-show="testCtrl.loadingTests == true">
                            <div class="panel-body">
                                Now loading tests
                                <img src="/img/ajax-loader.gif" alt="Loading">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
