<div class="col-md-10" ng-controller="UserController as userCtrl">
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" ng-class="{ active: userCtrl.showForm }">
            <input type="checkbox" autocomplete="off" ng-model="userCtrl.showForm"> New user
        </label>
    </div>
    <div ng-show="userCtrl.showForm">
        <form ng-submit="userCtrl.sendForm()">
            Name:<br>
            <input type="text" name="name" ng-model="userCtrl.user.name">
            <br>
            Git:<br>
            <input type="text" name="git" ng-model="userCtrl.user.git">
            <br>
            Forum:<br>
            <input type="text" name="forum" ng-model="userCtrl.user.forum">
            <br>
            Potential community manager:
            <input type="checkbox" name="community" ng-model="userCtrl.user.community">
            <br>
            Potential CI manager:
            <input type="checkbox" name="CI" ng-model="userCtrl.user.CI">
            <br>
            Potential maintenance manager:
            <input type="checkbox" name="maintenance" ng-model="userCtrl.user.maintenance">
            <br>
            <br>
            Position:<br>
            <input type="text" name="position" ng-model="userCtrl.user.position">
            <br>
            <input class="btn btn-default" type="submit" value="Submit">
        </form>
    </div>
    <section ng-init="userCtrl.loadUsers()">
        <table class="table table-hover">
            <thead>
                <th>Name</th>
                <th>Git</th>
                <th>Forum</th>
                <th>Com</th>
                <th>CI</th>
                <th>Maint</th>
                <th>Position</th>
                <th>Delete</th>
                <th>Update</th>
            </thead>
            <tbody ng-model="userCtrl.users">
                <tr ng-repeat="user in userCtrl.users">
                    <td ng-hide="user == userCtrl.editingUser">
                        {{ user.name }}
                    </td>
                    <td ng-hide="user == userCtrl.editingUser">
                        {{ user.git }}
                    </td>
                    <td ng-hide="user == userCtrl.editingUser">
                        {{ user.forum }}
                    </td>
                    <td ng-hide="user == userCtrl.editingUser">
                        <input type="checkbox" disabled ng-model="user.community">
                    </td>
                    <td ng-hide="user == userCtrl.editingUser">
                        <input type="checkbox" disabled ng-model="user.CI">
                    </td>
                    <td ng-hide="user == userCtrl.editingUser">
                        <input type="checkbox" disabled ng-model="user.maintenance">
                    </td>
                    <td ng-hide="user == userCtrl.editingUser">
                        {{ user.position }}
                    </td>
                    <td ng-hide="user == userCtrl.editingUser">
                        <a ng-click="userCtrl.deleteUser(user)" class="btn btn-default">Delete</a>
                    </td>
                    <td ng-hide="user == userCtrl.editingUser">
                        <a ng-click="userCtrl.selectEdit(user)" class="btn btn-default">Update</a>
                    </td>

                    <td ng-show="user == userCtrl.editingUser">
                        <input type="text" name="name" ng-model="user.name">
                    </td>
                    <td ng-show="user == userCtrl.editingUser">
                        <input type="text" name="git" ng-model="user.git">
                    </td>
                    <td ng-show="user == userCtrl.editingUser">
                        <input type="text" name="forum" ng-model="user.forum">
                    </td>
                    <td ng-show="user == userCtrl.editingUser">
                        <input type="checkbox" name="community" ng-model="user.community">
                    </td>
                    <td ng-show="user == userCtrl.editingUser">
                        <input type="checkbox" name="CI" ng-model="user.CI">
                    </td>
                    <td ng-show="user == userCtrl.editingUser">
                        <input type="checkbox" name="maintenance" ng-model="user.maintenance">
                    </td>
                    <td ng-show="user == userCtrl.editingUser">
                        <input type="text" name="position" ng-model="user.position">
                    </td>
                    <td ng-show ="user == userCtrl.editingUser">
                        <a ng-click="userCtrl.deleteUser(user)" class="btn btn-default">Delete</a>
                    </td>
                    <td ng-show="user == userCtrl.editingUser">
                        <a ng-click="userCtrl.sendUpdate(user)" class="btn btn-primary">Update</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
